<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<title>Quiz Application</title>
	
</head>
<body class="w3-theme-l3" style="border: 15px">

	<h1 Style="text-align: center;border: 5px solid blue" class="w3-theme-d4"> Web Base Quiz</h1>
		<hr />
	
	
		<form action="/submitquiz" method="post" style="text-align">		
			{% for question in question_list %}
			<h2></h2>
		
		<h2 class="w3-theme" style="text-align: center;border: 5px solid blue;">Q. {{loop.index}} {{question.question}}
		
			<h3 class="w3-theme-l1" style="text-align: center;border: 5px solid blue;"><span style="font-size: 25px;"><input type="radio" name="{{question.q_id}}" value="{{question.option1}}" >{{question.option1}}
			<input type="radio" name="{{question.q_id}}" value="{{question.option2}}" >{{question.option2}}			
			<input type="radio" name="{{question.q_id}}" value="{{question.option3}}">{{question.option3}}</h3></h2>
		    </span>
		<br/>
			{% endfor %}
			
			<br><br>
			
 <h1 style="text-align: center; font-size: 100px;">	
			<input type="submit" name=" submitform" value="Submit" class="w3-theme" style="border : 7px solid blue">
			</h1>
			<br>
			<br>
		</form>
			

		
</body>
</html>
