<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
<title>Quiz Application</title>
	
</head>
<body style="align: center ">

	<h1> Web Base Quiz</h1>
		<hr />
	
	
		<form action="/submitquiz" method="post">		
			{% for question in question_list %}
			<h2></h2>
		<li class="w3-theme-l4">	
		<h2> {{loop.index}} {{question.question}}</h2>
		
			<h3><span style="font-size: 25px;"><input type="radio" name="{{question.q_id}}" value="{{question.option1}}" >{{question.option1}}
			<input type="radio" name="{{question.q_id}}" value="{{question.option2}}" >{{question.option2}}			
			<input type="radio" name="{{question.q_id}}" value="{{question.option3}}">{{question.option3}}</h3>
		    </span>
		<br/>
			{% endfor %}
			</li>
			<br><br>
			
			<input type="submit" name=" submitform" value="Submit"> 
		</form>
			

		
</body>
</html>
